img.avatar {
  margin: 10px 0;
}
.ui-icon {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode:nearest-neighbor;
}
.installer-label {
  white-space: nowrap;
  padding: 0 12px;
}

textarea,input,select{
  border:	#663399 solid 1px;
  background:#000000;
  color:	#DDDDDD;
  font:	10pt Verdana, sans-serif;}
textarea:focus {
  border:	#663399 solid 1px;
  background:#000000;
  color:	#DDDDDD;
  font:	10pt Verdana, sans-serif;}
.radio{
  border:	none;
  background:none;
  color:	#DDDDDD;
  font:	10pt Verdana, sans-serif;}
.submit{
  border:	#663399 solid 2px;
  font:	10pt Verdana, sans-serif;}
